Hi <%= username%>,
<br/>
We're happy you signed up with Respiree.<br/>
To get started with your account, you'll need to first accept Respiree's Terms and Conditions by clicking <a href=<%= verifyLink %>>here</a>  
<br/>
Regards,<br/>
The Respiree Team
